@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<p>To learn more about Clean Architecture, please read Uncle Bob's <a href="http://blog.8thlight.com/uncle-bob/2012/08/13/the-clean-architecture.html" target="blank">The Clean Architecture</a> blog post.<br/> 
    I also recommend reading Uncle Bob's article on <a href="http://blog.8thlight.com/uncle-bob/2011/09/30/Screaming-Architecture.html" target="blank">Screaming Architecture</a> as well.<br/>
    In addition, I highly recommend watching his <a href="http://cleancoders.com/episode/clean-code-episode-7/show" target="blank">Clean Coders video</a> on the topic as well.</p>
<p>To learn more about ASP.NET MVC, please visit Microsoft's <a href="http://www.asp.net/mvc/mvc5" target="blank">ASP.NET</a> site.</p>
<p>To learn more about me, the author of this content, please visit my website at <a href="http://www.matthewrenze.com" target="blank">www.matthewrenze.com</a></p>