@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>Welcome to the Clean Architecture in ASP.NET MVC 5 sample website.</p>
<p>Please visit one of the following pages.</p>
<p>
    <ul>
        <li>@Html.ActionLink("Products", "index", "products")</li>
        <li>@Html.ActionLink("Contact", "index", "contact")</li>
    </ul>
</p>

